body {
    min-width: 1020px;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
    margin: 0
}

svg:not(:root) {
    overflow: hidden;
}

.octicon {
    vertical-align: text-bottom;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.border-top {
    border-top: 1px #e1e4e8 solid !important
}

.border-gray-light {
    border-color: #eaecef !important
}

.text-gray {
    color: #586069 !important
}

.flex-wrap {
    flex-wrap: wrap !important
}

.position-relative {
    position: relative !important
}

.flex-items-center {
    -webkit-box-align: center !important;
    align-items: center !important
}

.flex-auto {
    -webkit-box-flex: 1 !important;
    flex: 1 1 auto !important;
}

.footer-octicon {
    color: #c6cbd1
}

.list-style-none {
    list-style: none !important
}

.text-bold {
    font-weight: 600 !important
}

.pl-2 {
    padding-left: 8px !important
}

.px-2 {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.dropdown {
    position: relative
}

.dropdown-details:not([open]) {
    cursor: pointer
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0
}

.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto
}

.no-underline {
    text-decoration: none !important
}

.header-nav-current-user .css-truncate-target {
    max-width: 100%
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button, input {
    overflow: visible
}

button, input, select, textarea {
    font: inherit;
    margin: 0
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: #0366d6;
    text-decoration: none;
}

a:active, a:hover {
    outline-width: 0
}

.page-content {
    padding-top: 20px
}

.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600 !important
}

@media (min-width: 768px) {
    .h2 {
        font-size: 24px !important
    }
}

.tabnav {
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #d1d5da
}

.tabnav .Counter {
    margin-left: 5px
}

.tabnav-tabs {
    margin-bottom: -1px
}

.tabnav-tab {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #586069;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 0
}

.tabnav-tab.selected {
    color: #24292e;
    background-color: #fff;
    border-color: #d1d5da;
    border-radius: 3px 3px 0 0
}

.tabnav-tab:hover, .tabnav-tab:focus {
    color: #24292e;
    text-decoration: none
}

.tabnav-extra {
    display: inline-block;
    padding-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #586069
}

.tabnav-extra > .octicon {
    margin-right: 2px
}

a.tabnav-extra:hover {
    color: #0366d6;
    text-decoration: none
}

.tabnav-btn {
    margin-left: 10px
}

.mr-3 {
    margin-right: 16px !important
}

.mr-2 {
    margin-right: 8px !important
}

.mb-2 {
    margin-bottom: 8px !important
}

.mb-4 {
    margin-bottom: 24px !important;
}

.ml-2 {
    margin-left: 8px !important
}

.mt-2 {
    margin-top: 8px !important
}

.mt-3 {
    margin-top: 16px !important
}

.mt-4 {
    margin-top: 24px !important
}

.mt-6 {
    margin-top: 40px !important
}

.p-5 {
    padding: 32px !important
}

.btn-link {
    display: inline-block;
    padding: 0;
    font-size: inherit;
    color: #0366d6;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.width-full {
    width: 100% !important
}

* {
    box-sizing: border-box;
}

.f1 {
    font-size: 26px !important
}

.f2 {
    font-size: 22px !important
}

.f3 {
    font-size: 18px !important
}

.f4 {
    font-size: 16px !important
}

.f5 {
    font-size: 14px !important
}

.py-6 {
    padding-top: 40px !important;
    padding-bottom: 40px !important
}

.f6 {
    font-size: 12px !important
}

.px-3 {
    padding-right: 16px !important;
    padding-left: 16px !important
}

.d-flex {
    display: -webkit-box !important;
    display: flex !important
}

.height-400 {
    height: 400px;
}

.height-600 {
    height: 600px;
}

.height-700 {
    height: 700px;
}

.border-none {
    border: none;
}

.cursor-p {
    cursor: pointer;
}

.head-h1 {
    position: relative;
    max-width: 635px;
    padding-left: 18px;
    font-size: 18px;
    line-height: 26px;
}
.color-grey{
    color:#959da5;
}