.header-search {
    width: 300px;
    font-size: 13px
}

.form-control, .form-select {
    min-height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075)
}

.header-search-input {
    display: table-cell;
    width: 99.999%;
    min-height: 26px;
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    border: 0;
    box-shadow: none
}

.header-search-input:focus {
    border: 0;
    box-shadow: none
}

.header-search-input::-ms-clear {
    display: none
}

.header-search-scope:empty + .header-search-input {
    width: 100%
}

.header-search-scope:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.12)
}

.scoped-search .header-search-scope {
    display: table-cell
}

.scoped-search .form-control.focus .header-search-scope {
    color: #0366d6;
    background-color: #c0ddfe;
    border-color: #8ec2fd
}

.flex-justify-between {
    -webkit-box-pack: justify !important;
    justify-content: space-between !important
}

.header-search-wrapper {
    display: table;
    width: 100%;
    max-width: 100%;
    min-height: 0;
    padding: 0;
    font-weight: normal;
    vertical-align: middle
}

.header-search-scope {
    display: none;
    width: 1%;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 12px;
    color: #586069;
    white-space: nowrap;
    vertical-align: middle;
    border-right: 1px solid #eaecef;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.Header {
    z-index: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255, 255, 255, 0.75);
    background-color: #24292e
}

.server-stats + .Header {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.075)
}

.Header .header-search-scope {
    font-size: inherit;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.75);
    border-right-color: #282e34
}

.Header .header-search-wrapper {
    min-height: 30px;
    font-size: inherit;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.125);
    border: 0;
    box-shadow: none
}

.Header .header-search-wrapper .truncate-repo-scope {
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.Header .header-search-wrapper.focus {
    background-color: rgba(255, 255, 255, 0.175);
    box-shadow: none
}

.Header .header-search-wrapper.focus .header-search-scope {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075);
    border-right-color: #282e34
}

.Header .header-search-input {
    min-height: 30px;
    font-size: inherit;
    color: inherit
}

.Header .header-search-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75)
}

.Header .header-search-input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75)
}

.Header .header-search-input::placeholder {
    color: rgba(255, 255, 255, 0.75)
}

.Header .notification-indicator:hover::after {
    content: none
}

@media (min-width: 1012px) {
    .Header .notification-indicator:hover::after {
        content: attr(aria-label)
    }
}

.page-responsive .HeaderMenu {
    display: none;
    clear: both
}

@media (min-width: 1012px) {
    .page-responsive .HeaderMenu {
        display: block;
        clear: none
    }
}

.open .HeaderMenu {
    display: block
}

.HeaderMenu--bright .HeaderNavlink {
    color: #fff
}

.HeaderMenu--bright .HeaderNavlink:hover, .HeaderMenu--bright .HeaderNavlink:focus {
    color: rgba(255, 255, 255, 0.75) !important
}

@media (min-width: 1012px) {
    .HeaderMenu--bright .HeaderNavlink.selected {
        position: relative
    }

    .HeaderMenu--bright .HeaderNavlink.selected::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 3px;
        content: "";
        background-color: #6a737d
    }
}

.HeaderMenu--bright .header-search {
    min-width: 200px;
    max-width: 300px;
    padding-top: 3px;
    padding-bottom: 3px
}

.page-responsive .HeaderMenu--bright .header-search {
    float: none;
    width: auto;
    max-width: none;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 0;
    border-top: 1px solid #444d56
}

@media (min-width: 1012px) {
    .page-responsive .HeaderMenu--bright .header-search {
        float: left;
        width: 200px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-top: 0
    }
}

.page-responsive .header-search {
    width: auto
}

@media (min-width: 1012px) {
    .page-responsive .header-search {
        width: 300px
    }
}

body.split-diff .Header [class*="container-"], body.full-width .Header [class*="container-"] {
    max-width: none;
    padding-right: 20px !important;
    padding-left: 20px !important
}

.read-only-mode-banner {
    text-align: center;
    background-color: #f8e45f;
    border-bottom-color: #f6dc2e
}

.header-logo-invertocat {
    margin: -1px 15px -1px -2px;
    color: #fff;
    white-space: nowrap
}

.header-logo-invertocat .octicon-mark-github {
    float: left
}

.header-logo-invertocat:hover {
    color: #fff;
    text-decoration: none
}

.header-logo-subbrand {
    float: left;
    margin-left: 6px;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px
}

.header-logo-wordmark {
    position: relative;
    float: left;
    height: 26px;
    margin-right: 15px;
    color: #fff
}

.header-logo-wordmark .octicon {
    float: left
}

.header-logo-wordmark:hover {
    color: #fff
}

.header-actions {
    float: right;
    margin-top: -3px;
    margin-bottom: -3px
}

.header-actions .btn {
    margin-left: 5px
}

.notification-indicator {
    color: rgba(255, 255, 255, 0.75)
}

.notification-indicator .mail-status {
    position: absolute;
    top: -6px;
    left: 6px;
    z-index: 2;
    display: none;
    width: 14px;
    height: 14px;
    color: #fff;
    background-image: linear-gradient(#54a3ff, #006eed);
    background-clip: padding-box;
    border: 2px solid #24292e;
    border-radius: 50%
}

.notification-indicator .mail-status.unread {
    display: inline-block
}

.notification-indicator:hover .mail-status {
    text-decoration: none;
    background-color: #0366d6
}

.HeaderNavlink {
    display: block;
    color: rgba(255, 255, 255, 0.75)
}

.page-responsive .HeaderNavlink {
    border-top: 1px solid #444d56
}

@media (min-width: 1012px) {
    .page-responsive .HeaderNavlink {
        border-top: 0
    }
}

.HeaderNavlink:hover, .HeaderNavlink:focus {
    color: #fff;
    text-decoration: none
}

.HeaderNavlink:hover .dropdown-caret, .HeaderNavlink:focus .dropdown-caret {
    border-top-color: #fff
}

.HeaderNavlink.selected {
    color: #fff
}

.HeaderNavlink.selected.js-menu-target {
    border-bottom-color: transparent
}

.HeaderNavlink.selected.tooltipped::before, .HeaderNavlink.selected.tooltipped::after {
    display: none
}

.user-nav .octicon {
    width: 16px
}

.user-nav .octicon-plus {
    margin-right: 1px
}

.user-nav .dropdown-menu {
    width: 180px;
    margin-top: 8px
}

.header-nav-current-user {
    padding-bottom: 0;
    font-size: inherit
}
