<!DOCTYPE html>
<html>
<head>
    <title>Markdown Editor</title>
    <link href="/tools/img/ico.png" rel="shortcut icon">
    <link rel="stylesheet" href="/tools/markdown/lib/material-icons.css">
    <link rel="stylesheet" href="/tools/markdown/lib/base16-light.css">
    <link rel="stylesheet" href="/tools/markdown/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/tools/markdown/lib/default.css">
    <link rel="stylesheet" href="/tools/markdown/lib/github-markdown.css">
    <link rel="stylesheet" href="/tools/markdown/lib/spell-checker.min.css">
    <link rel="stylesheet" href="/tools/markdown/lib/sweetalert.css">
    <link rel="stylesheet" href="/tools/markdown/index.css">
</head>
<body id="toplevel">
<div id="in">
    <form>
        <textarea id="code"># Markdown Editor


## 标题2
###### 标题6
*斜体*
**加粗**

* 列表 1
* 列表 2
   * 列表 2.1

1. 列表 1
2. 列表 2


 链接：[GitHub](http://github.com)

 引用(两个空格以后 点击换行 可以实现换行)：
>在Java中，最基本的互斥同步手段就是synchronized关键字  ，
>synchronized关键字经过编译
>之后，会在同步块的前后分别形成
>monitorenter和monitorexit这两个字节码指令

反斜杠转义 \* \# \[


```代码块
function test() {
console.log("look ma`, no spaces");
}
```
表格：
数据库| 版本
------------ | -------------
mysql     |1.0
sql server  | 2.0
    </textarea>
    </form>
</div>
<div id="out" class="markdown-body"></div>
<div id="menu">
    <span>Save As</span>
    <div id="saveas-markdown">
        <svg height="64" width="64" xmlns="http://www.w3.org/2000/svg">
            <g transform="scale(0.0625)">
                <path d="M950.154 192H73.846C33.127 192 0 225.12699999999995 0 265.846v492.308C0 798.875 33.127 832 73.846 832h876.308c40.721 0 73.846-33.125 73.846-73.846V265.846C1024 225.12699999999995 990.875 192 950.154 192zM576 703.875L448 704V512l-96 123.077L256 512v192H128V320h128l96 128 96-128 128-0.125V703.875zM767.091 735.875L608 512h96V320h128v192h96L767.091 735.875z"/>
            </g>
        </svg>
        <span>Markdown</span>
    </div>
    <div id="saveas-html">
        <svg height="64" width="64" xmlns="http://www.w3.org/2000/svg">
            <g transform="scale(0.0625) translate(64,0)">
                <path d="M608 192l-96 96 224 224L512 736l96 96 288-320L608 192zM288 192L0 512l288 320 96-96L160 512l224-224L288 192z"/>
            </g>
        </svg>
        <span>HTML</span>
    </div>
    <a id="close-menu">&times;</a>
</div>
<div id="navbar">
    <div id="navcontent">
        <a id="logo" href="/tools/anon/index">
            <p id="title" class="left">
                # Prefox
            </p>
        </a>
        <p id="openbutton" title="打开本地MD文件" class="navbutton left"
           onclick="document.getElementById('fileInput').click();"><i class="material-icons">open_in_browser</i></p>
        <input id="fileInput" type="file" class="hidden" accept=".md,.mdown,.txt,.markdown"/>
        <p id="savebutton" title="保存到本地 ctrl+shift+s" class="navbutton left" onclick="showMenu()"><i
                class="material-icons">
            file_download</i>
        </p>
        <p id="browsersavebutton" title="浏览器保存 ctrl+s" class="navbutton left" onclick="saveInBrowser()"><i
                class="material-icons">save</i></p>
        <!--<p id="sharebutton" title="Generate Shareable Link" class="navbutton left" onclick="updateHash()"><i-->
        <!--class="material-icons">share</i></p>-->
        <p id="nightbutton" title="夜间模式" class="navbutton left" onclick="toggleNightMode(this)"><i
                class="material-icons">invert_colors</i></p>
        <p id="readbutton" title="只读模式" class="navbutton left" onclick="toggleReadMode(this)"><i
                class="material-icons">chrome_reader_mode</i></p>
        <p id="newbutton" title="清空" class="navbutton left" onclick="clearEditor()">
            清空
        </p>
        <a  href="/tools/markdown/markdown-help.png" target="_blank">
            <p class="navbutton left">
               帮助
            </p>
        </a>
        <!--<p id="sharebutton" class="navbutton left selected hidden">Share</p>-->
    </div>
</div>
<script src="/tools/markdown/lib/markdown-it.js"></script>
<script src="/tools/markdown/lib/markdown-it-footnote.js"></script>
<script src="/tools/markdown/lib/highlight.pack.js"></script>
<script src="/tools/markdown/lib/emojify.js"></script>
<script src="/tools/markdown/codemirror/lib/codemirror.js"></script>
<script src="/tools/markdown/codemirror/overlay.js"></script>
<script src="/tools/markdown/codemirror/xml/xml.js"></script>
<script src="/tools/markdown/codemirror/markdown/markdown.js"></script>
<script src="/tools/markdown/codemirror/gfm/gfm.js"></script>
<script src="/tools/markdown/codemirror/javascript/javascript.js"></script>
<script src="/tools/markdown/codemirror/css/css.js"></script>
<script src="/tools/markdown/codemirror/htmlmixed/htmlmixed.js"></script>
<script src="/tools/markdown/codemirror/lib/util/continuelist.js"></script>
<script src="/tools/markdown/lib/spell-checker.min.js"></script>
<script src="/tools/markdown/lib/rawinflate.js"></script>
<script src="/tools/markdown/lib/rawdeflate.js"></script>
<script src="/tools/markdown/lib/sweetalert.min.js"></script>
<script src="/tools/markdown/index.js"></script>
</body>
</html>
