<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
    <nav  th:fragment="category-nav-html" class="pr-4 pt-5 w-percent-15 br display-block">
        <link th:href="@{/css/category-nav.css?version=1.0.0}" rel="stylesheet"/>
        <script th:src="@{/js/category-nav.js}"></script>
        <h4 class="d-block">类别</h4>
        <ul class="list-style-none" style="margin-left: -10px" id="left-nav-ul">
            <th:block th:each="item:${leftTree}">
                <li>
                    <a  th:attr="data-categoryCode=${item.categoryCode}"
                        th:title="${item.categoryName}"
                        th:class="${#strings.concat('left-nav py-1 left-category',(categoryDto.code == item.categoryCode)?' selected open':'')}">
                        <span th:text="${item.categoryName}"></span>
                    </a>
                </li>
                <th:block th:each="sub:${item.children}">
                    <li th:name="${item.categoryCode+'_sub'}"
                            th:class="${#strings.concat('ml-3',(categoryDto.code == item.categoryCode)?' d-block':' d-none')}">
                        <a th:href="${sub.url}" th:target="${sub.target}"
                           th:title="${sub.name}"
                           th:class="${#strings.concat('filter-item py-1 ',(type==sub.code)?' selected':'' )}">
                            <span th:text="${sub.name}"></span>
                        </a>
                    </li>
                </th:block>
            </th:block>
        </ul>
    </nav>
</body>
</html>