<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="page">
<head>
    <meta charset="UTF-8"/>
    <title>Tools</title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div th:each="item:${page.content}" th:remove="tag">
        <div class="newsfeed-placeholder p-5 mb-4">
            <h3 class="h2 lh-condensed mb-2" th:text="${item.name}"/>
            <p class="f4">
                <txt th:text="${item.description}"></txt>
                <div th:each="sub:${item.resourceDtos}" th:remove="tag">
                   <a class="ml-2" th:href="${sub.url}" th:text="${sub.name}"/>
                </div>
            </p>
        </div>
    </div>
    <div class="more-repos-link" id="more-div">

    <button th:if="${page.last==false}" type="submit" class="btn-link width-full  js-more-repos-link"
            th:attr="
            data-q=${q},
            data-number=${page.number},
            data-size=${page.size},
            data-last=${page.last},
            data-totalPages=${page.totalPages},
            data-totalElements=${page.totalElements}
             "
            data-disable-with="Loading more…" onclick="dashboard_more(this)">加载更多…</button>
    </div>
</div>

</body>
</html>