<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="page">
<head>
    <meta charset="UTF-8"/>
    <title th:text="Join"></title>
    <script th:src="@{/js/md5.min.js }"></script>
    <script th:src="@{/js/common.js }"></script>
    <script th:src="@{/js/join.js}"></script>
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="setup-wrapper">
        <div class="setup-header setup-org">
            <h1>加入 Prefox</h1>
            <p class="lead">The best way to use online tools.</p>

            <!-- Show steps if user is creating an organiation -->
            <ol class="steps">
                <li class="current">
                    <svg aria-hidden="true" class="octicon octicon-person" height="32" version="1.1" viewBox="0 0 12 16"
                         width="24">
                        <path fill-rule="evenodd"
                              d="M12 14.002a.998.998 0 0 1-.998.998H1.001A1 1 0 0 1 0 13.999V13c0-2.633 4-4 4-4s.229-.409 0-1c-.841-.62-.944-1.59-1-4 .173-2.413 1.867-3 3-3s2.827.586 3 3c-.056 2.41-.159 3.38-1 4-.229.59 0 1 0 1s4 1.367 4 4v1.002z"></path>
                    </svg>
                    <strong class="step">Step 1:</strong>
                    创建账户
                </li>
                <li>
                <svg aria-hidden="true" class="octicon octicon-gear" height="32" version="1.1" viewBox="0 0 14 16" width="28"><path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path></svg>
                <strong class="step">Step 3:</strong>
                完善资料
                </li>
            </ol>
        </div>

        <div class="setup-main ">
            <div class="setup-form-container">
                <noscript>
                    &lt;p class="error"&gt;GitHub does not support browsers with JavaScript disabled.&lt;br&gt;
                    We promise we’ll behave.&lt;/p&gt;
                </noscript>

                <form accept-charset="UTF-8" action="/join" autocomplete="off" class="setup-form js-signup-form"
                      id="signup-form" method="post">
                    <div style="margin:0;padding:0;display:inline"></div>

                    <h2 class="f2-light mb-1">
                        创建个人账户
                    </h2>

                    <dl class="form-group">
                        <dt class="input-label"><label autocapitalize="off" autofocus="autofocus">
                            用户名</label></dt>
                        <dd><input autocapitalize="off" autofocus="autofocus" class="form-control"
                                   id="user_name" name="username" size="30" type="text"/>
                            <p class="note">用户名只支持数字、字母、下划线，或其组合</p></dd>
                    </dl>

                    <dl class="form-group ">
                        <dt class="input-label"><label name="password">密码
                        </label></dt>
                        <dd><input class="form-control" id="user_password"
                                   name="password" size="30" type="password"/>
                            <p class="note">密码必须包含数字、字母、特殊符号且大于等于8位.</p></dd>
                    </dl>
                    <dl class="form-group">
                        <dt class="input-label"><label autocapitalize="off" for="user_email"
                                                       name="email">邮箱</label></dt>
                        <dd>
                            <input autocapitalize="off" class="form-control" id="user_email" name="email"
                                   size="30"
                                   type="text"/>
                            <button  class="btn btn-primary " id="valid_button">
                                获取验证码
                            </button>
                            <p class="note">请设置您的电子邮箱.</p></dd>
                    </dl>
                    <dl class="form-group">
                        <dt class="input-label"><label autocapitalize="off" for="user_valid"
                                                       name="valid">验证码</label></dt>
                        <dd>
                            <input autocapitalize="off" class="form-control" id="user_valid" name="vaildCode"
                                   size="30"
                                   type="text"/>
                            <p class="note">请输入您收到的邮箱验证码.</p></dd>
                    </dl>

                    <p class="tos-info">By clicking on "Create an account" below, you are agreeing to the
                        <a href="#" target="_blank">Terms of Service</a> and the
                        <a href="#" target="_blank">Privacy Policy</a>.</p>

                    <button  class="btn btn-primary" id="signup_button">
                     创建账户
                    </button>

                </form>
            </div> <!-- /.setup-form-container -->
        </div> <!-- /.setup-main -->

    </div>
</div>
</body>
</html>