<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title>Tools</title>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/page.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/page.js}"></script>
</head>
<body id="body">
<div class="position-relative js-header-wrapper " >
    <header class="Header f5">
        <div class="d-flex px-3 flex-justify-between container-lg">
            <div class="d-flex flex-justify-between">
                <a class="header-logo-invertocat" th:href="@{/tools/anon/index}"
                   aria-label="Homepage">
                    <!--<svg aria-hidden="true" class="octicon octicon-mark-github" height="32" version="1.1"-->
                    <!--viewBox="0 0 16 16" width="32">-->
                    <!--<path fill-rule="evenodd"-->
                    <!--d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>-->
                    <!--</svg>-->
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="32px" height="32px" viewBox="0 0 32.000000 32.000000"
                         preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)"
                           fill="#FFFFFF" stroke="none">
                            <path d="M65 225 c-14 -13 -25 -32 -25 -43 0 -10 -5 -23 -11 -29 -7 -7 -9 -19
-5 -29 5 -13 12 -7 29 27 24 45 63 62 61 27 -1 -13 9 -17 47 -20 36 -2 48 0
45 9 -5 13 19 43 35 43 9 0 30 -41 44 -84 12 -39 13 -9 2 48 -17 82 -38 93
-81 44 -41 -47 -62 -48 -80 -3 -18 41 -29 43 -61 10z"/>
                        </g>
                    </svg>
                </a>


            </div>
            <div class="HeaderMenu d-flex flex-justify-between flex-auto">
                <div class="d-flex">
                    <div class="">
                        <div class="header-search   js-site-search" role="search">
                            <form accept-charset="UTF-8" th:action="@{/tools/anon/index}"
                                  class="js-site-search-form"
                                  method="get">
                                <div style="margin:0;padding:0;display:inline"></div>
                                <label class="form-control header-search-wrapper js-chromeless-input-container">
                                    <a th:href="@{/tools/anon/index}"
                                       class="header-search-scope no-underline">/index</a>
                                    <input type="text" th:value="${q}" id="header-search-input"
                                           class="form-control header-search-input js-site-search-focus  "
                                           name="q" value="" placeholder="查找工具"
                                           aria-label="查找工具" data-unscoped-placeholder="查找工具"
                                           autocapitalize="off"/>
                                </label>
                            </form>
                        </div>
                    </div>
                    <ul class="d-flex pl-2 flex-items-center text-bold list-style-none" role="navigation">
                        <li>
                            <a href="/users" class="js-selected-navigation-item HeaderNavlink px-2">
                                用户
                            </a>
                        </li>
                        <li>
                            <a href="/issues" aria-label="Issues you created"
                               class="js-selected-navigation-item HeaderNavlink px-2">
                                问题
                            </a>
                        </li>
                        <li>
                            <a href="/jobs" class="js-selected-navigation-item HeaderNavlink px-2">
                                开发者工作
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex">
                    <div class="user-nav d-flex flex-items-center list-style-none" id="user-links">
                        <a th:href="@{/tools/anon/user/login}" class="text-bold px-1  HeaderNavlink">
                            登录
                        </a>
                        <span class="text-gray">or</span>
                        <a th:href="@{/tools/anon/user/join}" class="text-bold px-1  HeaderNavlink">
                            注册
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<div role="main">
    <div id="js-pjax-container">
        <div class="container page-content">
            <div th:include="this :: content"></div>
        </div>
    </div>
</div>

<div class="footer container-lg px-3" role="contentinfo">
    <div class="position-relative d-flex flex-justify-between py-6 mt-3 f6 text-gray border-top border-gray-light ">
        <ul class="list-style-none d-flex flex-wrap ">
            <li class="mr-3">© 2017 <span title="0.24018s from unicorn-1374631441-ms16t">Prefox</span>, Inc.</li>
            <li class="mr-3"><a href="#">Terms</a></li>
            <li><a href="#">Help</a></li>
        </ul>

        <a th:href="@{/tools/anon/index}" aria-label="Homepage" class="footer-octicon" title="Prefox">
            <!--<svg aria-hidden="true" class="octicon octicon-mark-github" height="24" version="1.1" viewBox="0 0 16 16" width="24"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>-->
            <svg version="1.0"
                 width="24px" height="24px"
                 viewBox="0 0 24.000000 24.000000"
                 preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,24.000000) scale(0.100000,-0.100000)"
                   fill="#000000" stroke="none">
                    <path d="M62 183 c-16 -6 -53 -83 -46 -95 3 -5 14 6 24 24 16 31 48 47 43 22
-1 -7 15 -14 38 -16 28 -2 38 0 35 8 -6 15 20 38 33 30 5 -4 12 -20 16 -36 4
-16 11 -32 16 -35 5 -4 7 0 4 7 -2 7 -9 32 -15 56 -12 48 -32 54 -56 17 -15
-23 -54 -35 -54 -17 0 16 -25 40 -38 35z"/>
                </g>
            </svg>
        </a>
        <ul class="list-style-none d-flex flex-wrap ">
            <li class="mr-3"><a href="#">Contact Prefox</a></li>
            <li class="mr-3"><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>

        </ul>
    </div>
</div>
</body>
</html>