<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title>Tools</title>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/page.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/page.js}"></script>
</head>
<body>
<div class="position-relative js-header-wrapper ">
    <header class="Header f5">
        <div class="d-flex px-3 flex-justify-between container-lg">
            <div class="d-flex flex-justify-between">
                <a class="header-logo-invertocat" th:href="@{/tools/index.html}" data-hotkey="g d"
                   aria-label="Homepage"
                   data-ga-click="Header, go to dashboard, icon:logo">
                    <!--<svg aria-hidden="true" class="octicon octicon-mark-github" height="32" version="1.1"-->
                    <!--viewBox="0 0 16 16" width="32">-->
                    <!--<path fill-rule="evenodd"-->
                    <!--d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>-->
                    <!--</svg>-->
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                         class="octicon octicon-mark-github" viewBox="0 0 300.000000 300.000000"
                         preserveAspectRatio="xMidYMid meet" style="
">
                        <g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)" fill="#FFFFFF"
                           stroke="none">
                            <path d="M2205 2357 c-81 -43 -198 -147 -282 -252 -89 -110 -193 -296 -215
-382 -9 -39 -13 -44 -32 -38 -12 4 -103 10 -203 12 -158 5 -183 7 -187 22 -3
9 -17 73 -31 143 -14 70 -33 145 -41 165 -15 37 -113 213 -124 223 -16 15 -67
87 -73 103 -23 63 -234 -49 -393 -209 -150 -152 -241 -316 -274 -499 -38 -202
-47 -226 -98 -268 -26 -20 -64 -45 -85 -54 -35 -16 -37 -19 -31 -52 13 -71 50
-132 107 -178 33 -27 112 -73 123 -73 25 0 42 30 42 75 0 44 -2 48 -58 93 -32
26 -59 50 -59 54 -1 4 25 21 57 37 60 31 112 73 112 91 0 6 7 18 15 26 8 9 15
24 15 34 0 10 9 21 19 25 11 3 25 21 31 39 9 29 82 159 163 291 17 28 50 56
111 94 l86 54 51 -54 c28 -30 63 -70 77 -89 15 -19 35 -42 45 -52 9 -10 17
-23 17 -28 0 -6 14 -17 30 -24 l31 -13 -40 -12 c-22 -6 -49 -24 -61 -39 -11
-15 -32 -40 -46 -55 -27 -31 -26 -58 6 -91 17 -17 20 -18 67 -2 43 14 91 16
349 13 189 -2 317 -8 349 -16 64 -16 225 -32 247 -25 9 3 20 14 23 24 8 26
-50 98 -84 107 -33 7 -101 44 -101 54 0 4 9 10 19 14 11 3 23 15 26 26 4 10
10 19 15 19 5 0 14 16 20 35 6 19 17 38 24 42 7 5 30 30 50 57 48 64 88 106
101 106 5 0 54 19 107 41 72 31 101 39 110 31 25 -21 135 -251 168 -352 11
-36 27 -78 35 -95 7 -16 22 -50 33 -75 32 -69 62 -178 62 -221 0 -54 33 -136
72 -176 33 -34 94 -58 122 -47 23 9 30 42 12 67 -8 12 -30 42 -47 67 -59 82
-93 240 -104 480 -6 140 -25 262 -58 365 -12 39 -21 73 -19 77 4 15 -99 174
-143 219 -50 51 -116 89 -156 89 -13 0 -60 -19 -104 -43z"></path>
                        </g>
                    </svg>
                </a>


            </div>
            <div class="HeaderMenu d-flex flex-justify-between flex-auto">
                <div class="d-flex">
                    <div class="">
                        <div class="header-search   js-site-search" role="search">
                            <form accept-charset="UTF-8" th:action="@{/tools/index.html}" class="js-site-search-form"
                                  method="get">
                                <div style="margin:0;padding:0;display:inline"></div>
                                <label class="form-control header-search-wrapper js-chromeless-input-container">
                                    <a th:href="@{/tools/index.html}"
                                       class="header-search-scope no-underline">/index</a>
                                    <input type="text" th:value="${q}" id="header-search-input"
                                           class="form-control header-search-input js-site-search-focus  "
                                           data-hotkey="s" name="q" value="" placeholder="查找工具"
                                           aria-label="查找工具" data-unscoped-placeholder="查找工具"
                                           data-scoped-placeholder="Search" autocapitalize="off"/>
                                </label>
                            </form>
                        </div>
                    </div>
                    <ul class="d-flex pl-2 flex-items-center text-bold list-style-none" role="navigation">
                        <li>
                            <a href="/users" class="js-selected-navigation-item HeaderNavlink px-2"
                               data-ga-click="Header, click, Nav menu - item:marketplace context:user"
                               data-selected-links=" /users">
                                用户
                            </a>
                        </li>
                        <li>
                            <a href="/issues" aria-label="Issues you created"
                               class="js-selected-navigation-item HeaderNavlink px-2"
                               data-ga-click="Header, click, Nav menu - item:issues context:user" data-hotkey="g i"
                               data-selected-links="/issues">
                                问题
                            </a>
                        </li>
                        <li>
                            <a href="/jobs" class="js-selected-navigation-item HeaderNavlink px-2"
                               data-ga-click="Header, click, Nav menu - item:jobs"
                               data-selected-links="/jobs">
                                开发者工作
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex">
                    <div class="user-nav d-flex flex-items-center list-style-none" id="user-links">
                        <a href="/notifications" class="text-bold px-1  HeaderNavlink">
                            登录
                        </a>
                        <span class="text-gray">or</span>
                        <a th:href="@{/tools/join.html}" class="text-bold px-1  HeaderNavlink">
                            注册
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<div role="main">
    <div id="js-pjax-container">
        <div class="container page-content">
            <div th:include="this :: content"></div>
        </div>
    </div>
</div>

<div class="footer container-lg px-3" role="contentinfo">
    <div class="position-relative d-flex flex-justify-between py-6 mt-3 f6 text-gray border-top border-gray-light ">
        <ul class="list-style-none d-flex flex-wrap ">
            <li class="mr-3">© 2017 <span title="0.24018s from unicorn-1374631441-ms16t">Prefox</span>, Inc.</li>
            <li class="mr-3"><a href="#" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
            <li><a href="#" data-ga-click="Footer, go to help, text:help">Help</a></li>
        </ul>

        <a th:href="@{/tools/index.html}" aria-label="Homepage" class="footer-octicon" title="Prefox">
            <!--<svg aria-hidden="true" class="octicon octicon-mark-github" height="24" version="1.1" viewBox="0 0 16 16" width="24"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>-->
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 class="octicon octicon-mark-github" viewBox="0 0 300.000000 300.000000"
                 preserveAspectRatio="xMidYMid meet" style="
">
                <g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                    <path
                            d="M2205 2357 c-81 -43 -198 -147 -282 -252 -89 -110 -193 -296 -215
-382 -9 -39 -13 -44 -32 -38 -12 4 -103 10 -203 12 -158 5 -183 7 -187 22 -3
9 -17 73 -31 143 -14 70 -33 145 -41 165 -15 37 -113 213 -124 223 -16 15 -67
87 -73 103 -23 63 -234 -49 -393 -209 -150 -152 -241 -316 -274 -499 -38 -202
-47 -226 -98 -268 -26 -20 -64 -45 -85 -54 -35 -16 -37 -19 -31 -52 13 -71 50
-132 107 -178 33 -27 112 -73 123 -73 25 0 42 30 42 75 0 44 -2 48 -58 93 -32
26 -59 50 -59 54 -1 4 25 21 57 37 60 31 112 73 112 91 0 6 7 18 15 26 8 9 15
24 15 34 0 10 9 21 19 25 11 3 25 21 31 39 9 29 82 159 163 291 17 28 50 56
111 94 l86 54 51 -54 c28 -30 63 -70 77 -89 15 -19 35 -42 45 -52 9 -10 17
-23 17 -28 0 -6 14 -17 30 -24 l31 -13 -40 -12 c-22 -6 -49 -24 -61 -39 -11
-15 -32 -40 -46 -55 -27 -31 -26 -58 6 -91 17 -17 20 -18 67 -2 43 14 91 16
349 13 189 -2 317 -8 349 -16 64 -16 225 -32 247 -25 9 3 20 14 23 24 8 26
-50 98 -84 107 -33 7 -101 44 -101 54 0 4 9 10 19 14 11 3 23 15 26 26 4 10
10 19 15 19 5 0 14 16 20 35 6 19 17 38 24 42 7 5 30 30 50 57 48 64 88 106
101 106 5 0 54 19 107 41 72 31 101 39 110 31 25 -21 135 -251 168 -352 11
-36 27 -78 35 -95 7 -16 22 -50 33 -75 32 -69 62 -178 62 -221 0 -54 33 -136
72 -176 33 -34 94 -58 122 -47 23 9 30 42 12 67 -8 12 -30 42 -47 67 -59 82
-93 240 -104 480 -6 140 -25 262 -58 365 -12 39 -21 73 -19 77 4 15 -99 174
-143 219 -50 51 -116 89 -156 89 -13 0 -60 -19 -104 -43z"></path>
                </g>
            </svg>
        </a>
        <ul class="list-style-none d-flex flex-wrap ">
            <li class="mr-3"><a href="#" data-ga-click="Footer, go to contact, text:contact">Contact Prefox</a></li>
            <li class="mr-3"><a href="#" data-ga-click="Footer, go to blog, text:blog">Blog</a></li>
            <li><a href="#" data-ga-click="Footer, go to about, text:about">About</a></li>

        </ul>
    </div>
</div>
</body>
</html>