<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="page">
<head>
    <meta charset="UTF-8"/>
    <title>Issue Reply</title>
    <link th:href="@{/simditor/styles/simditor.css}" rel="stylesheet"/>
    <link th:href="@{/css/issue/issue-comment.css}" rel="stylesheet"/>
    <script th:src="@{/simditor/scripts/module.js }"></script>
    <script th:src="@{/simditor/scripts/hotkeys.js }"></script>
    <script th:src="@{/simditor/scripts/uploader.js }"></script>
    <script th:src="@{/simditor/scripts/simditor.js }"></script>
    <script th:src="@{/js/issue/issue-common.js }"></script>
    <script th:src="@{/js/issue/issue-comment.js }"></script>

</head>
<body>
<div th:fragment="content" th:remove="tag">
    <div class="gh-header-show ">
        <div class="gh-header-actions f-right">
            <a type="button" href="/tools/anon/issues/list" class="btn btn-sm">返回列表</a>
            <button class="btn btn-primary  btn-sm js-jump-create">
                新建问题
            </button>
        </div>

        <h1 class="gh-header-title">
          <span class="js-issue-title">
             [[${issueData.issueDto.title}]]
          </span>
            <span class="gh-header-number"># [[${issueData.issueDto.id}]]</span>
            <a class="d-inline IssueLabel va-text-top cursor-p"
               name="issue-filter"
               data-name="label"
               th:attr="data-value=${issueData.issueDto.issueLabel.code()}"
               th:style="${#strings.concat('color: #ffffff;background-color:',issueData.issueDto.issueLabel.getBgColor())}"
               th:title="${issueData.issueDto.issueLabel.getName()}"
            >[[${issueData.issueDto.issueLabel.getName()}]]</a>
        </h1>
    </div>
    <div class="issue-body my-3">
        <div class="p-3" th:utext="${issueData.issueDto.body}"></div>
    </div>
    <div class="TableObject gh-header-meta">
        <div class="TableObject-item">
            <div
                    th:class="${#strings.concat('State',(issueData.issueDto.issueStatus.code() == 1)?' State--green':' ')}"
            >
                <svg class="octicon octicon-issue-opened" viewBox="0 0 14 16" version="1.1" width="14" height="16"
                     aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path>
                </svg>
                [[${issueData.issueDto.issueStatus.getName()}]]
            </div>

        </div>
        <div class="TableObject-item TableObject-item--primary">
            <a class="text-bold link-gray show-issue-user-card cursor-p"
               th:attr="data-username=${issueData.issueDto.usersDto.username}">[[${issueData.issueDto.usersDto.username}]]</a>
            创建于
            <create-time>[[${#dates.format(issueData.issueDto.createTime, 'yyyy-MM-dd HH:mm:ss') }]]</create-time>
            , 共[[${issueData.issueDto.commentCount}]] 条评论
        </div>
    </div>
    <div class="discussion-timeline mb-4" >
        <th:block th:each="item:${issueData.commentDtos}">
            <div th:switch="${item.issueCommentType.code()}">
                <div th:case="${1}">
                    <div class="timeline-comment-wrapper">
                        <div class="timeline-comment-avatar">
                            <div class="rounded-1 overflow-hidden">
                                <div class="issue-user-name show-issue-user-card cursor-p"
                                     style="box-shadow: 0px 0px 1px rgba(12,13,14,0.5);height: 48px;width: 48px"
                                     th:attr="data-username=${item.usersDto.username}"
                                     th:title="${item.usersDto.username}">
                                    <img th:if="${!#strings.isEmpty(item.usersDto.picture)}"
                                         th:src="${nginxUrl+item.usersDto.picture}">
                                </div>
                            </div>
                        </div>


                        <div class="timeline-comment-group">
                            <div class="unminimized-comment editable-comment comment timeline-comment current-user">
                                <div class="timeline-comment-header clearfix">
                                    <h3 class="timeline-comment-header-text f5 text-normal">
                                        <strong class="css-truncate">
                                            <a class="link-gray  show-issue-user-card cursor-p"
                                               th:attr="data-username=${item.usersDto.username}">[[${item.usersDto
                                                .username}]]</a>
                                        </strong>
                                        评论于
                                        <create-time>[[${#dates.format(item.createTime, 'yyyy-MM-dd HH:mm:ss')}]]
                                        </create-time>
                                    </h3>
                                </div>


                                <div class="edit-comment-hide">
                                    <task-lists sortable="">
                                        <table class="d-block">
                                            <tbody class="d-block">
                                            <tr class="d-block">
                                                <td class="d-block comment-body markdown-body  js-comment-body">
                                                    <p th:utext="${item.comment}"></p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </task-lists>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div th:case="${2}" class="discussion-item discussion-item-closed">
                    <div class="discussion-item-header f5 text-normal">
                        <span class="discussion-item-icon">
                          <svg class="octicon octicon-circle-slash" viewBox="0 0 14 16" version="1.1" width="14"
                               height="16"
                               aria-hidden="true"><path fill-rule="evenodd"
                                                        d="M7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm0 1.3c1.3 0 2.5.44 3.47 1.17l-8 8A5.755 5.755 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zm0 11.41c-1.3 0-2.5-.44-3.47-1.17l8-8c.73.97 1.17 2.17 1.17 3.47 0 3.14-2.56 5.7-5.7 5.7z"></path></svg>
                        </span>
                        <div class="rounded-1 overflow-hidden">
                            <div class="issue-user-name show-issue-user-card cursor-p"
                                 style="box-shadow: 0px 0px 1px rgba(12,13,14,0.5);height: 48px;width:48px"
                                 th:attr="data-username=${item.usersDto.username}"
                                 th:title="${item.usersDto.username}">
                                <img th:if="${!#strings.isEmpty(item.usersDto.picture)}"
                                     th:src="${nginxUrl+item.usersDto.picture}">
                            </div>
                            <div class="mt-2">
                                <strong class="css-truncate">
                                    <a class="link-gray  show-issue-user-card cursor-p"
                                       th:attr="data-username=${item.usersDto.username}">[[${item
                                        .usersDto.username}]]</a>
                                </strong>
                                <create-time>[[${#dates.format(item.createTime, 'yyyy-MM-dd HH:mm:ss')}]]</create-time>
                                [[${item.issueCommentType.getDesc()}]]该问题
                            </div>

                        </div>
                    </div>
                </div>
                <div th:case="${3}" class="discussion-item discussion-item-closed">
                    <div class="discussion-item-header f5 text-normal">
                        <span class="discussion-item-icon State--green">
                         <svg class="octicon octicon-primitive-dot" viewBox="0 0 8 16" version="1.1" width="8" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M0 8c0-2.2 1.8-4 4-4s4 1.8 4 4-1.8 4-4 4-4-1.8-4-4z"></path></svg>
                        </span>
                        <div class="rounded-1 overflow-hidden">
                            <div class="issue-user-name show-issue-user-card cursor-p"
                                 style="box-shadow: 0px 0px 1px rgba(12,13,14,0.5);height: 48px;width:48px"
                                 th:attr="data-username=${item.usersDto.username}"
                                 th:title="${item.usersDto.username}">
                                <img th:if="${!#strings.isEmpty(item.usersDto.picture)}"
                                     th:src="${nginxUrl+item.usersDto.picture}">
                            </div>
                            <div class="mt-2">
                                <strong class="css-truncate">
                                    <a class="link-gray  show-issue-user-card cursor-p"
                                       th:attr="data-username=${item.usersDto.username}">[[${item
                                        .usersDto.username}]]</a>
                                </strong>
                                <create-time>[[${#dates.format(item.createTime, 'yyyy-MM-dd HH:mm:ss')}]]</create-time>
                                [[${item.issueCommentType.getDesc()}]]该问题
                            </div>

                        </div>
                    </div>
                </div>
                <div th:case="*"><input type="hidden" value="unknow status"/></div>
            </div>
        </th:block>
    </div>

    <div class="discussion-timeline pt-4 discussion-timeline-actions">
        <div class="timeline-comment-wrapper timeline-new-comment composer">
            <span class="timeline-comment-avatar">
                <div class="rounded-1 overflow-hidden">
                    <div class="issue-user-name show-issue-user-card cursor-p"
                         style="box-shadow: 0px 0px 1px rgba(12,13,14,0.5);height: 48px;width: 48px"
                         th:attr="data-username=${user.username}" th:title="${user.username}">
                         <img th:if="${!#strings.isEmpty(user.picture)}"
                              th:src="${nginxUrl+user.picture}">
                    </div>
                </div>
            </span>
            <div class="timeline-comment">
                <div class="discussion-topic-text">
                    <textarea id="editor" placeholder="添加评论" autofocus></textarea>
                </div>
                <div class="f-left">
                    <a class="tabnav-extra" href="/tools/anon/issues/list">
                        返回列表
                    </a>
                </div>
                <div class="form-actions">

                    <button class="btn btn-primary" id="create"  th:attr="data-issue-id=${issueData.issueDto.id}">
                        添加评论
                    </button>
                    <button shiro:hasRole="admin" id="change-status" class="btn  mr-2 js-change-status"
                            th:attr="data-issue-id=${issueData.issueDto.id}
                         ,data-issue-status=${issueData.issueDto.issueStatus.code()}">
                        <span th:if="${issueData.issueDto.issueStatus.code() eq 1}">关闭问题</span>
                        <span th:if="${issueData.issueDto.issueStatus.code() eq 2}">重新开启</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>